<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Libros</title>
</head>
<body>
    <h1>Facturas</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>ID Cliente</th>
            <th>Acciones</th>
        </tr>
        {% for factura in data %}
            <tr>
                <td>{{ factura.id }}</td>
                <td>{{ factura.FechaHora }}</td>
                <td>{{ factura.usuario_id }}</td>
                <td>
                    <a href="{{ url_for('factura.edit', id=factura.id) }}">Editar</a>
                    <a href="{{ url_for('factura.delete', id=factura.id) }}">Eliminar</a> 
                    <a href="{{ url_for('factura.detalle', id=factura.id) }}">Ver factura</a>                
                    <!-- Agrega aquí el enlace para eliminar -->
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
